<ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link" href="#">Añadir Usuario</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Listar Usuarios</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Añadir Coche</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Listar Coche</a>
  </li>
  
</ul>