<ul class="nav justify-content-center">

  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/users/add/">Añadir Usuario</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/users">Listar Usuarios</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/cars/add">Añadir Coche</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/cars">Listar Coche</a>
  </li>
  
</ul>