
{{> header}}
<form class="form-control d-flex flex-column align-items-center" style="width: 25%;" action="/cars/add" method="post">
    <h1 class="mb-3">Añade un coche</h1>
    <div class="input-group mb-3" >
        <span class="input-group-text" >Modelo</span>
        <input type="text" name="modelo" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Potencia</span>
        <input type="number" name="potencia" class="form-control">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Imagen</span>
        <input type="text" name="imagen" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary mb-3">Crear</button>
    </div>
    
</form>