<form class="form-control d-flex flex-column align-items-center" style="width: 25%;" action="/cars/edit/{{id_coche}}" method="post">

    <h1 class="mb-3">Edita este coche</h1>
    <div class="input-group mb-3" >
        <span class="input-group-text" >Modelo</span>
        <input type="text" name="modelo" class="form-control" value="{{modelo}}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Potencia</span>
        <input type="number" name="potencia" class="form-control" value="{{potencia}}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Imagen</span>
        <input type="text" name="imagen" class="form-control" value="{{imagen}}">
    </div>
    <div>
        <button type="submit" class="btn btn-primary mb-3">Editar</button>
    </div>
    
    
</form>